# ANALISE EXPLORATORIA - GRAFICOS, VISUALIZAÇÃO E DASHBOARD - FAÇA VOCÊ MESMO

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#carregamento da base de dados
df_dados = pd.read_csv('../data/dados.csv', sep=';', encoding='latin')
print(f'linhas: {df_dados.shape[0]} / colunas: {df_dados.shape[1]}')
df_dados.head()

linhas: 187 / colunas: 4

   CODIGO               MUNICIPIO       PIB  VALOREMPENHO
0     106   SANTANA DO LIVRAMENTO  12240.76    1088666.10
1     113            SANTO ANGELO  16575.82     800669.92
2     118  SAO FRANCISCO DE ASSIS  12037.61     466122.80
3      13         CACAPAVA DO SUL  13674.54     485535.86
4     120             SAO GABRIEL  19912.38     533719.86

### Divisão do tipo de dados
- Categóricos:
    - MUNICIPIO
- Numéricos:
    - CODIGO
    - PIB 
    - VALOREMPENHO

In [4]:
#verificação de nulos
df_dados.isna().sum()

CODIGO          0
MUNICIPIO       0
PIB             0
VALOREMPENHO    0
dtype: int64

como visto, não há valores nulos

In [22]:
df_dados[df_dados['CODIGO'].duplicated(keep=False)]

     CODIGO                  MUNICIPIO       PIB  VALOREMPENHO
18      259               CERRO BRANCO  11961.10     208240.50
19      259    MONTE ALEGRE DOS CAMPOS  11961.10     208240.50
21      259               CERRO BRANCO  12467.25     208240.50
22      259    MONTE ALEGRE DOS CAMPOS  12467.25     208240.50
41      141    DOUTOR MAURICIO CARDOSO  13628.17     147767.38
42      141                    TAQUARA  13628.17     147767.38
57      141    DOUTOR MAURICIO CARDOSO  18628.78     147767.38
58      141                    TAQUARA  18628.78     147767.38
82      378                  MULITERNO  16581.60      97594.98
83      378  SANTO ANTONIO DAS MISSOES  16581.60      97594.98
94      378                  MULITERNO  19914.82      97594.98
95      378  SANTO ANTONIO DAS MISSOES  19914.82      97594.98
125     380             NOVA BOA VISTA  18676.57      58868.19
126     380  SANTO ANTONIO DO PLANALTO  18676.57      58868.19
141     380             NOVA BOA VISTA  24509.74      58868.19
142     380  SANTO ANTONIO DO PLANALTO  24509.74      58868.19
179     372                MATO LEITAO  17213.98        760.00
180     372    SANTA VITORIA DO PALMAR  17213.98        760.00
181     372                MATO LEITAO  27170.89        760.00
182     372    SANTA VITORIA DO PALMAR  27170.89        760.00

In [24]:
df_dados = df_dados.drop_duplicates(subset='CODIGO', keep='first')

In [25]:
df_dados[df_dados['CODIGO'].duplicated(keep=False)]

Empty DataFrame
Columns: [CODIGO, MUNICIPIO, PIB, VALOREMPENHO]
Index: []