# Amostra simples

utilizada para selecionar os dados de forma randomica, onde todos os dados possuem uma chance igual de serem selecionados, impedindo que gere uma amostra enviesada.

In [13]:
#imports
import pandas as pd
import numpy as np

In [14]:
#import da base de dados
df = pd.read_csv('../data/iris.csv', sep=',', encoding='latin')
print(f'linhas= {df.shape[0]}\ncolunas= {df.shape[1]}')
df.head()

linhas= 150
colunas= 5

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [26]:
#seed aleatoria para manter varias execuções
np.random.seed(3456)
#150 amostras de 0 a 1 com reposição e probabilidades equivalentes
amostra = np.random.choice(a = [0, 1], replace= True, size=150, p = [0.7, 0.3])

print(f'tamanho da amostra{len(amostra)}')

print(f'amostra de valores 1: {len(amostra[amostra == 1])}')
print(f'amostra de valores 0: {len(amostra[amostra == 0])}')
print(f'amosta:\n{amostra}')

tamanho da amostra150
amostra de valores 1: 49
amostra de valores 0: 101
amosta:
[0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 1 0
 1 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 1 1 1 0
 0 0 0 1 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1
 0 0 0 1 0 1 0 0 0 0 1 1 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 1 1 0 0 0 0 1 0 1
 1 0]

In [27]:
df_final = df.loc[amostra == 0]
df_final.shape

(101, 5)

In [28]:
df_final2 = df.loc[amostra == 1]
df_final2.shape

(49, 5)