# Amostragem estratificada

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
#carregamento da base de dados
df = pd.read_csv('../data/iris.csv', sep=',', encoding='latin')
df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [9]:
#df.iloc[:, 0:4] = pega dados da petala e da setala da planta
#df.iloc[:, 4] = apenas a classe da planta
#test_size = selecionado 50% dos dados que serão alocados em x e y, retornando 4 valores, 
#porem por ser apenas 50%, foi utilizado "_" para os outros valores
#stratify = retorna a amostra baseada na classe
x, _ , y, _ = train_test_split(df.iloc[:, 0:4], df.iloc[:, 4], test_size= 0.5, stratify = df.iloc[:, 4])

In [10]:
y.value_counts()

class
Iris-virginica     25
Iris-versicolor    25
Iris-setosa        25
Name: count, dtype: int64

In [11]:
x.value_counts()

sepal length  sepal width  petal length  petal width
4.9           3.1          1.5           0.1            2
4.5           2.3          1.3           0.3            1
6.2           2.8          4.8           1.8            1
6.4           2.9          4.3           1.3            1
              2.8          5.6           2.2            1
                                                       ..
5.4           3.7          1.5           0.2            1
              3.4          1.7           0.2            1
                           1.5           0.4            1
              3.0          4.5           1.5            1
7.7           3.8          6.7           2.2            1
Name: count, Length: 74, dtype: int64

In [17]:
#carregamento da base de dados de infertil
df2 = pd.read_csv('../data/infert.csv', sep=',', encoding='latin')
df2.head()

,Unnamed: 0,education,age,parity,induced,case,spontaneous,stratum,pooled.stratum
0,1,0-5yrs,26,6,1,1,2,1,3
1,2,0-5yrs,42,1,1,1,0,2,1
2,3,0-5yrs,39,6,2,1,0,3,4
3,4,0-5yrs,34,4,2,1,0,4,2
4,5,6-11yrs,35,3,1,1,1,5,32

In [18]:
df2['education'].value_counts()

education
6-11yrs    120
12+ yrs    116
0-5yrs      12
Name: count, dtype: int64

In [22]:
#criação de uma amostra com 40% dos registros, por isso é definido um test_size de 0.6, onde o restante
#0.4 vai para treino
x1, _ , y1, _ = train_test_split(df2.iloc[:, 2:9], df2.iloc[:, 1], test_size= 0.6, stratify = df2.iloc[:, 1])

In [23]:
y1.value_counts()

education
6-11yrs    48
12+ yrs    46
0-5yrs      5
Name: count, dtype: int64

In [24]:
x1.value_counts()

age  parity  induced  case  spontaneous  stratum  pooled.stratum
31   1       0        0     0            13       9                 2
42   1       0        0     0            2        1                 2
23   1       0        0     1            83       40                2
40   1       0        0     0            21       14                2
38   3       1        0     0            50       60                2
                                                                   ..
28   2       1        0     0            47       51                1
             0        1     2            58       51                1
                                         47       51                1
                                         23       19                1
42   1       1        1     0            2        1                 1
Name: count, Length: 92, dtype: int64